/* MEDIA QUERY RESPONSIVE */
@media screen and (max-width: 1040px){
    .slider-content{
        padding: 0 40px;
    }
    .experience-card-global .experience-card{
        width: 200px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 15px;
    }
    /* PAN - CONTENT  */
    .pan-content .pan-primer{
        max-width: 70px;
        width: 12%;
    }
    /******************/
    /* RESPONSIVE PROYECTS */
    .desing-content-text p{
        line-height: 20px;
    }
}
@media screen and (max-width: 1024px){
    .slider h1{
        font-size: 65px;
        line-height: 75px;
    }
    .about-me-content{
        flex-direction: column-reverse;
        padding: 10px 70px 0;
    }
    .about-me-content>figure{
        width: 50%;
        margin: 0 auto;
        margin-bottom: -30px;
    }
    .about-me-content .about-me-text{
        width: 100%;
        padding: 0 40px;
        text-align: center;
    }
    .about-me-content .about-me-text p{
        font-size: 15px;
    }
    .about-me-content .about-me-text .text-redes{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: left;
        margin-bottom: 20px;
    }
    /* ACORDEON */
    .acordeon-title{
        padding: 10px;
        font-size: 12px;
    }
    .acordeon-item-content>span{
        font-size: 14px;
    }
    /*****************/
    .academic-training-card{
        width: 220px;
    }
    .academic-training-card-global{
        padding: 0 60px;
    }

    
}
@media screen and (max-width: 920px){
    .slider h1{
        font-size: 60px;
        line-height: 75px;
    }
    .slider-content{
        height: 85vh;
    }
    .experience-card-global{
        padding: 0 100px;
    }
    .experience-card-global .experience-card{
        width: 250px;
        height: 240px;
        margin-bottom: 30px;
    }
    .experience-card h3{
        margin-top: 5px;
    }

     /* RESPONSIVE PROYECTS */
     .desing-content-text h2{
         font-size: 20px;
     }
     .desing-content-text h4{
         padding: 0;
     }
     .desing-content-text p{
         padding-top: 15px;
     }
    
}
@media screen and (max-width: 826px){
    .slider-content{
        height: 80vh;
        padding: 20px;
    }
    .slider h1{
        font-size: 50px;
        margin-bottom: 5px;
    }
    .slider h2{
        font-size: 25px;
    }
    .about-me-content{
        padding: 10px 30px 0;
    }
    .experience-card-global{
        padding: 0 50px;
    }
    /* ACORDEON */
    .acordeon{
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .acordeon-box{
        margin: 0 auto;
    }
    /***************************/


     /* RESPONSIVE PROYECTS */
     .desing-content-global{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 5%;
    }
    .order-card{
        order: 0;
    }
    .desing-content-text{
        width: 40%;
        height: 200px;
        margin: auto 0;
        padding: 20px;
        margin-bottom:40px ;
    }
    .desing-content-text p{
        font-size: 12px;
    }

}
@media screen and (max-width: 720px){

    .about-me-content{
        flex-direction: column-reverse;
        padding: 10px 0 0;
    }
    .about-me-content .about-me-text .text-redes{
        flex-direction: column;
    }
    .about-me-enlaces{
        padding-left: 0;
    }
    .main-experience{
        padding: 50px 0;
    }
   
    .acordeon-item-content{
        text-align: left;   
        line-height: 16px;
    }
    .footer{
        flex-direction: column;   
    }
    .footer-card{
        width: 100%;
        height: 10vh;
        flex-direction: row;
        font-size: 15px;
        padding: 10px;
    }
    .footer-card i{
        margin-right: 20px;
    }

    /*  PAN - CONTENT */
    .main-pan-content{
        padding:20px 0;
    }
    .pan-content .pan-primer span{
        font-size: 12px;
    }
    /*****************************/
    /* BTN-HAMBURGUESA */
    .btn-hamburguesa{
        width: 65px;
        height: 65px;
        
    }
    .hamburger-inner, 
    .hamburger-inner::before,
    .hamburger-inner::after,
    .hamburger.is-active .hamburger-inner, 
    .hamburger.is-active .hamburger-inner:after, 
    .hamburger.is-active .hamburger-inner:before{
        width: 33px;
    }
    /***********************************/

    .background{
        background-image: url(/IMG/soporte2.png);
        background-position: center center;
        background-size: cover;
        height: 350px;
    }


}

@media screen and (max-width: 658px){

    .slider-content{
        height: 82vh;
        padding: 20px;
    }
    .slider h2{
        font-size: 18px;
        line-height: 40px;
    }
    .title2 h2, .title h2{
        font-size: 19px;
        line-height: 40px;
    }
    h3{
        font-size: 15px;
        line-height: 25px;
    }
    h4{
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
    }
    #redes-sociales{
        padding-top: 0;
    }
    .main-academic-training{
        padding: 50px 0;
    }
    .main-skills{
        margin: 0;
        padding: 50px 0 0;
    }
    .main-responsive{
        padding: 50px 0;
    }
    .responsive-content{
        padding: 0;
    }
    .about-me-content{
        padding: 0;
    }
    .about-me-text{
        padding: 0;
    }
    .academic-training-card-global{
        margin-top: 0;
    }


    /* ACORDEON */
    .acordeon{
        height: 350px;
    }
    .acordeon-title{
        font-size: 10px;
        padding: 4px 15px;
    }
    .active + .acordeon-item-content{
        padding: 5px 15px;
    }
    .acordeon-item-content span{
        font-size: 10px;
        line-height: 15px;
    }
    /***************************/

    /* REDES SOCIALES */

    .about-me-content .about-me-text{
        padding: 0 20px;
    }
    .about-me-content .about-me-text p{
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 10px;
    }
    .about-me-content .about-me-text .text-redes{
        font-size: 10px;
    }
    .about-me-enlaces{
        margin-top: 15px;
    }
    .about-me-enlaces a{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 12px;
    }
    .about-me-enlaces a::before{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    /*************************/

    /* FORMACION ACADEMICA */
    .academic-training-card{
        height: 180px;
    }
    .delante .marketing,
    .delante .diseño{
        margin: 10px 0;
    }
    /************************/
    .acordeon-img{
        width: 70%;
        margin: 0 auto;
    }
    .experience-card{
        width: 240px;
    } 
}
@media screen and (max-width: 500px){

    .mfp-inline-holder .mfp-content{
        width: 70%;
    }

    /* SLIDER */
    .slider-content{
        height: 50vh;
        padding: 50px 20px;
    }
    .slider-content {
        align-items: flex-start;
    }
    .slider h1{
        font-size: 30px;
        line-height: 30px;
    }
    /*************/

    .main-about-me{
        padding: 50px 0 0;
    }
    .experience-card{
        width: 240px;
    }

    /* ACORDEON */
    .acordeon{
        height: 300px;
    }
    .acordeon-title{
        font-size: 9px;
        padding: 3px 15px;
    }
    .active + .acordeon-item-content{
        padding: 3px 15px;
    }
    .acordeon-item-content span{
        font-size: 9px;
        line-height: 6px;
    }
    /***************************/

    .menu-flotante>ul li{
        font-size: 20px;
    }
    .experience-card-global{
        margin-top: 0;
    }

    /* PAN - CONTENT */
    .pan-content .pan-primer span{
        font-size: 8px;
    }
    .pan-content .pan-primer:not(:last-child){
        margin-right: 15px;
    }
    /*****************/

    .btn-hamburguesa{
        top: 85%;
        right: 20px;
        width: 60px;
        height: 60px;
    }
    .hamburger-inner, 
    .hamburger-inner::before,
    .hamburger-inner::after,
    .hamburger.is-active .hamburger-inner, 
    .hamburger.is-active .hamburger-inner:after, 
    .hamburger.is-active .hamburger-inner:before{
        width: 30px;
    }
    .btn-abajo{
        display: none;
    }
}
}

