*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
:root{
    --font1: 'Playfair Display';
    --font2: 'Montserrat';
}
h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}
h2,h3,h4,h5{
    font-family: var(--font2);
}
h1{
    font-size: 70px;
    line-height: 85px;
    font-family: var(--font1);
}
h2{
    font-size: 30px;
    line-height: 40px;
}
h3{
    font-size: 20px;
    line-height: 30px;
}
h4{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
p{
    font-size: 16px;
    line-height: 25px;
}
a{
    text-decoration: none;

}
figure{
    margin: 0;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
ul{
    list-style-type: none;
}
.main-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.title{
    text-align: center;
    padding: 20px 0;
    color: white;
}
.title2{
    color: #333560;
    text-align: center;
    padding: 20px 0;
}

/***************************
        MAIN-SLIDER
****************************/
.main-slider{
    background-image: url(../IMG/SLIDER.jpg);
    background-position: 50% 50%;
    background-size: cover;
}
.slider-content{
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.slider{
    color: white;
}
.slider h1{
    margin-bottom: 35px;   
    font-family: var(--font1);
}

/****************************
        MAIN-PAN
****************************/
#redes-sociales{
    position: relative;
    padding: 100px 0 0;
}
.pan-content{
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
    width: 100%;
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
}
.pan-content .pan-primer{
    text-align: center;
    transition: all 0.2s ease-in-out;
}
.pan-content .pan-primer span{
    font-family: var(--font2);
    color: #333560;
}
.pan-content .pan-primer figure{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;   
    box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.6);
    margin-bottom: 10px;
}
.pan-content .pan-primer figure>img{
    width: 60px;
    height: 60px;
}
.pan-content .pan-primer:not(:last-child){
    margin-right: 40px;
}
/*- ANIMATION -*/
.pan-content .pan-primer:hover{
    margin-top: -15px;
    transition: all 0.2s ease-in-out;
}

/****************************
    MAIN-ABOUT-ME
*****************************/
.about-me-content{
    display: flex;
    justify-content: center;
    padding: 40px 0 0;
}
.about-me-content figure{
    margin-bottom: -30px;
}
.about-me-content .about-me-text{
    width: 50%;
    padding: 0 40px;
    font-family: var(--font2);
    color: #333560;
}
.about-me-content .about-me-text p{
    margin-bottom: 20px;
}
.about-me-content .about-me-text ul li:nth-child(1)::before{
    content: "Nombre: ";
    margin-right: 42px;
}
.about-me-content .about-me-text ul li:nth-child(2)::before{
    content: "Teléfono: ";
    margin-right: 37px;
}
.about-me-content .about-me-text ul li:nth-child(3)::before{
    content: "Correo: ";
    margin-right: 50px;
}
.about-me-content .about-me-text ul li:nth-child(4)::before{
    content: "Localidad: ";
    margin-right: 30px;
}
.about-me-content .about-me-text ul li{
    margin-bottom: 5px;
}
.about-me-enlaces{
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-left: 40px;
}
.about-me-enlaces a>i{
    position: relative;
    z-index: 9999;
}
.about-me-enlaces a{
    position: relative;
    display: block;
    width: 47px;
    height: 47px;
    background-image: url(../IMG/fondo-icon.png);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
}
.about-me-enlaces a::before{
    position: absolute;
    content: "";
    display: block;
    width: 47px;
    height: 47px;
    left: 0;
    opacity: 0;
    background-image: url(../IMG/fondo-icon-after.png);
    transition: all 0.5s ease-in-out; 

}
.about-me-enlaces a:not(:last-child){
    margin-right: 20px;
}
.about-me-enlaces a:hover::before{
    transform: scale(1.2);
    opacity: 1;
    transition: all 0.5s ease-in-out; 
}

/****************************
    MAIN-ACADEMIC-TRAINING
*****************************/
.main-academic-training{
    background-color: #333560;
    padding: 100px 0;
}
.tarjeta-flip{
    -webkit-perspective: 800;
    perspective: 800;
}
.academic-training-card-global{
    max-width: 1000px;
    width: 100%;
    margin: 50px auto 1px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.academic-training-card{
    width: 250px;
    height: 230px;
    margin: 25px;
    position: relative;
    transform-style: preserve-3d;
    transition: .9s ease;  
    background-color: white;
    border-radius: 12px;
    text-align: center;
    padding: 20px;
    box-shadow: 9px 9px 34px -17px rgba(0,0,0,0.75);
}
.academic-training-card .delante,
.academic-training-card .atras{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}
.academic-training-card .atras{
    background-color: chocolate;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.atras-ul{
    padding: 0;
    font-size: 20px;
    font-family: var(--font2);
    text-align: left;
}
.academic-training-card .atras{
    transform: rotateY(180deg);
}
.tarjeta-flip:hover .academic-training-card{
    transform: rotateY(180deg);
}
.academic-training-card h3{
    margin: 20px 0;
}
.academic-training-card h4{
    margin: 20px 0;
}
.academic-training-card .hr{
    width: 60%;
    height: 2px;
    margin: 0 auto;
    background-color: #ffbc31;
}

/****************************
        MAIN-SKILLS
*****************************/
.main-skills{
    padding: 100px 0;
}
.acordeon{
    height: 500px;
    padding: 40px;
    display: flex;
    justify-content: center;
}
.acordeon-box{
    max-width: 540px;
    width: 100%;
}
.acordeon-item{
    padding: 0 20px;
    border-bottom: 2px solid white;
}
.acordeon-title{
    position: relative;
    background-color: #333560;
    padding: 20px;
    color: white;
    font-weight: 700;
    font-family:var(--font2);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.acordeon-item-content{
    text-align: justify;   
    background-color: rgba(192, 185, 185, 0.5);
    max-height: 0;
    overflow: hidden;
    opacity: 0;  
    transition: all 0.5s ease-in-out;   
    font-family: var(--font2);
    line-height: 22px;
}
.acordeon-item>p::after{
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 20px;
}
.active + .acordeon-item-content{
    max-height: 100px;  
    opacity: 1;
    margin: 0 7px;
    padding: 12px 20px;
}
.acordeon-item>p.active{
    background-color: #4e518d;
}
.acordeon-item>p.active::after{
    content: '-';
    position: absolute;
    right: 20px;
    font-size: 20px;
}


/****************************
        MAIN-EXPERIENCIE
*****************************/
.modal-text>ul{
    list-style-type: disc;
}
.main-experience{
    background-image: url(../IMG/SLIDER-EXPERIENCIA.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}
.experience-card-global{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    margin: 50px 0;
}
.experience-card-global .experience-card{
    width: 240px;
    background-color: rgba(192, 185, 185, 0.5);
    border-radius: 12px;
    padding: 12px;
    text-align: center;
    color: white;
    box-shadow: 9px 9px 34px -17px rgba(0,0,0,0.75);
    transition: all 0.2s ease-in;
}
.experience-card h3{
    margin: 20px 0;
}
.experience-card h4{
    margin: 20px 0;
}
.experience-card .hr{
    width: 60%;
    height: 2px;
    margin: 0 auto;
    background-color: #ffbc31;
}
.experience-card-global .experience-card:hover{
    background-color: rgba(131, 127, 127, 0.5);
    transform: scale(1.1);
    transition: all 0.2s ease-in;
}


/****************************
        MAIN-RESPONSIVE
*****************************/
.main-responsive{
    background-color: #dedede;
    padding: 100px 0;
}
.responsive-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}



/* MODAL */
.mfp-inline-holder .mfp-content{
    width: 50%;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
}
.mfp-inline-holder .mfp-content h4{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #333560;
}
.popup-modal-dismiss{
    color: black;
}
.background{
    background-image: url(/IMG/soporte.png);
    background-position: center center;
    background-size: cover;
    height: 350px;
}
.background .modal-text{
    padding: 30px;
}


/************************
FOOTER
************************/
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;  
}
.footer-card{
    width: 400px;
    height: 200px;
    padding: 30px;
    background-color: #333560;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    transition: 0.5s ease;     
}
.footer-card i{
    margin-bottom: 7px;
}
.footer-card-especial{
    background-color: #ffbc31;
    color: #333560;
    font-weight: 700;
}
.footer-card:hover:not(.footer-card-especial){
    background-color: rgb(19, 21, 56);
    transition: 0.5s ease;

}

/************************
GO - TOP - BTN ARRIBA
************************/

/* .go-top-container{
    position: fixed;
    bottom: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: 0.5s;
}

.go-to-button{
    background-color: rgb(19, 21, 56);
    border-radius: 50%;
    cursor: pointer;
    z-index: -1;
    transition: 0.5s;
    position: relative;
    
}
.go-to-button i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: #fff;  
}
.show{
    z-index: 10000;
    transition: 0.5s;
}

.show .go-to-button{
    animation: popup .5s ease-in-out;
    width: 5rem;
    height: 5rem;
    z-index: 11;    
}
.show i{
    transform: translate(-50%, -50%);
} */

/* @keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 5rem;
        height: 5rem;
    }
} */


/* BTN - HAMBURGUESA */

.btn-hamburguesa{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(162, 162, 163,0.28);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;   
    z-index: 100001;
    -webkit-box-shadow: 3px 6px 7px -3px rgba(0,0,0,0.75); 
    box-shadow: 3px 6px 7px -3px rgba(0,0,0,0.75);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
}
.hamburger-inner, 
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner, 
.hamburger.is-active .hamburger-inner:after, 
.hamburger.is-active .hamburger-inner:before{
 background-color: white;  
}
.btn-hamburguesa:hover{
    background-color: #494b77;
    transition: all 0.3s ease-in-out;
}
.menu-flotante{
    position: fixed;
    z-index: 10000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(4,3,19);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, -100%);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}
.is-active{
    transform: translate(0, 0);
    transition: all 0.5s ease-in-out;
    opacity: 1;
}
.menu-flotante>ul li{
    display: block;
    height: 12vh;
    font-size: 30px;
    font-family: var(--font2);
    transition: all 0.3s ease-in-out;
}
.menu-flotante>ul li>a{
    color: white;
    font-weight: 700;
}
.menu-flotante>ul li:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.2); 
}

